.quicksand{
    font-family: "Quicksand", serif;
} 
/* ----------------classes----------------------   */
.display-flex{
    display: flex;
}
.orange{
    color: orange;
}
.sky-blue{
    color: #01ACFD;
}
.violet{
    color: #5D58EF;
}
.mint{
    color: #05D4DF;
}
.white{
   background: rgb(183, 217, 237);
}

/* -----------------------navbar--------------------------- */
.nav-item{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-links{
    text-decoration: none;
    margin-right: 30px;
}

.navbar{
    justify-content:space-between;
    align-items: center;
    width: 1400px;
    margin: 20px auto;
}
.logo{
    height: 60px;
    width: 100%;
}
.title{
    font-size: 2rem;
    font-weight: 800;
   margin: 15px 0 15px 10px;
}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 1.25rem;
}
/* ----------------------------banner--------------------------- */
.banner-section{
    width: 1400px;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
}
.banner-description{
    font-size: 1.5rem;
}

#enroll{
    background-color: black;
}
.banner{
    margin: auto 0;      
}
/* -------------------------Standard Curriculum---------------------- */
.section-title{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.standard-curriculum{
    background-image: url(images/bg.png);
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
 }

.card{
    width: 340px;
    height: 440px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
 }
.card1{
 
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 20px;
    height: 440px;
}
.card2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 20px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    height: 440px;
}
.card3{
   
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 20px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    height: 440px;
}
.card-description{
   line-height: 25px;
   margin: 0 20px;
}
.card-title{
    font-size: 1.25rem;
    margin: 20px auto;
}
.read-more{
    text-decoration: none;
    font-weight: 600;
 }
 .pic{
    margin-top: 50px;
 }
 .icons{
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 80px auto 60px;
  

 }
 .greater-than, .less-than{
    background-color: orange;
    height:60px ;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }
/* -------------------------stories---------------------- */
.gradient{
    width: 100%;
    height: 1020px;
   background: linear-gradient(white, #FEA301);
    /* position: absolute; */
    opacity: 30%;
    position: absolute;
}
.section-title{
    margin: 80px auto 60px;
}
.story-container{
    gap: 40px;
    background-image: url(images/bg.png);
    justify-content: center;
    position: relative;
}
.left-card{
    margin-left: 5px;
}
.stories-right-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-left: 50px;
   
}
.story-1{
    width: 550px;
    height: 640px;
    background-color: white;
    border-radius: 16px;
   
}
.float-button{
    width: 175px;
    height: 50px;
    border-radius: 50px;
    background-color: #3CD8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px 0 0 30px;
    position: absolute;
}
.story1-title{
    font-size: 1.75rem;
}
.story-description{
    padding: 30px;
}
.story-pic{
    border-radius: 16px 16px 0 0 ;
    width: 100%;
}
.story{
    width:300px ;
    height: 310px;
    background-color: white;
    border-radius: 16px;
}
.float-right{
    height: 38px;
    width: 175px;
    border-radius: 50px;
    background-color: #95B226; 
    margin: -25px 0 0 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.story-right-description{
    padding: 30px;
    font-weight: 600;
}
#view-all{
    background-color: black;
    border-radius: 12px;
    margin: 80px 850px;
   position: relative;

}
/* --------------------------footer---------------------------- */
.footer{
    width: 100%;
    height: 520px;
    background-color:#01ACFD;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-container{
    display: flex;
    gap: 180px;
    color: white;
    align-items: baseline;
}
.logo-footer{
    width:400px ;
}
#footer-description{
    font-size: 1.25rem;
    margin-left: 0;
    margin-top: 30px;
}
.list{
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    /* margin-top: 10px; */
}
#keep-in{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
#logo2{
    height: 80px;
    width: 80px;
}
#kid{
    font-size: 2rem;
    margin: 0 0 0 10px;
}

/* ---------------------------responsive----------------------------- */

@media screen and (max-width:576px) {
    .title, .nav-links{
        display: none;
    }
    *{
        overflow-x: hidden;
    }
    #btn{
        display: none;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .kid-hero{
        margin-left: 30px;
        margin-top: 30px;
    }
    .banner{
        width: 500px;
        text-align: center;
    }
   .card-container{
        flex-direction: column;
      
   }
   .card{
    /* width: 100%; */
    margin: 0 0 0 60px;
   }
   .story-1{
        display: hidden;
   }
}



